.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.skip a{
    padding: 5px;
    position: absolute;
    top: -65px;
    margin: auto;
    color:#000000;
    background-color: white;
    font-weight: bold;
}

.skip a:focus{
    top: 25px;
}

*:focus{
    border: 3px dashed #17b617;
}

*:visited{
    color:#75988d;
}

.navmenu{
    display: grid;
    justify-content: left;
    padding: 2%;
}

.nav1{
    grid-column: 1/2;
}

.nav2{
    grid-column: 2/3;
}

.nav3{
    grid-column: 3/4;
}

.nav4{
    grid-column: 4/5;
}

.logo{
    height: auto;
    max-width: 70px;
}

nav .navlogo{
    float:left;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #00274C;
}

nav ul li a {
    color: #FFCB05;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active a{
	background-color: #FFCB05;
    text-transform: uppercase;
    color:#00274C;
    padding: 5px;
}

nav.active ul li a{
    color: #000000;
}

body{
    background-color: #cacaca;
}

header, main, footer{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
}

header{
    background-color: #00274C;
}

footer{
    min-height: 50px;
}

footer a:link {
    color: #00B2A9;
}

.relative{
    position: relative;
}

.relative img{
    opacity: 50%;
}

h1.absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* aligns text with position and transform: https://www.w3schools.com/css/css_align.asp */
    font-size: 8vw;
    text-align: center;
    color: #FFCB05;
    line-height: 1;
}

section{
    margin: 5%;
    color:#00274C;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

h2{
    margin: 0%;
    font-size: 1.40em;
    text-align: center;
    background-color: #FFCB05;
    box-shadow: 4px 4px #00274C;
    grid-column: 1/-1;
}

footer{
    padding: 5px;
    background-color: #00274C;
    color: #ffffff;
}

.box{
    margin-top: 3%;
    padding: 5%;
    border: 1px solid #00274C;
    box-shadow: 3px 3px #00274C;
    background-color: #ffffff;
}

.box ul, .box ol{
    margin-left:5%;
    padding: 5%;
}

.box img{
    border: 2px solid #00274C;
    box-shadow: 1px 1px #FFCB05;
}

.box1{
    margin-top: 3%;
    padding: 3%;
    border: 1px solid #00274C;
    box-shadow: 1px 1px #FFCB05;
    background-color: #f1f1f1;
}

box2{
    margin-top: 5%;
    padding: 3%;
    border: 1px solid #00274C;
}

.video-size{
    width: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.home-hub, .home-why, .home-start, .home-connect, .form, .resume-craft, .resume-write, .resume-src, .resume-faq, .resume-check, .net-why, .net-tips, .net-src, .career-start, .career-choose, .career-src{
    grid-column: 1/-1;
}
.net-tips div{
    grid-column: 1/-1;
}
.net-prof{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.prof-para{
    grid-column: 1/-1;
}

.netsrc-data, .netsrc-libarch{
    grid-column: 1/span 3;
}

.netsrc-data{
    grid-row: 2/span 1;
}

.netsrc-ux{
    grid-column: 2/span 3;
    grid-row: 3/span 1;
}

.netsrc-libarch{
    grid-row: 4/span 1;
}

.careersrc-top{
    grid-column: 1/-1;
    grid-row: 1/ span 1;
    margin-bottom: 5%;
}

.careersrc-data, .careersrc-lib, .careersrc-healthinfo{
    grid-column: 1/span 3;
}

.careersrc-ux, .careersrc-product{
    grid-column: 2/span 3;
}

.careersrc-data{
    grid-row: 2/span 1;
}

.careersrc-ux{
    grid-row: 3/span 1;
}

.careersrc-lib{
    grid-column: 1/span 3;
    grid-row: 4/span 1;
}

.careersrc-product{
    grid-column: 2/span 3;
    grid-row: 5/span 1;
}

.careersrc-healthinfo{
    grid-row: 6/span 1;
}

fieldset{
    margin: 3%;
}

legend{
    font-weight: bold;
}

label{
  display: block;
  clear: left;
  margin-top: 15px;
}

input, textarea{
  display: inline-block;
  margin-left: 10px;
  border: 2px solid #989C97;
  height: 50px;
  width: 200px;
  border-radius: 2px;
}

textarea{
    width: 100%;
    height: auto;
}

input [type=submit]{
    display: block;
}

button, #submit{
    display: block;
    margin:auto;
    width: 50%;
    background-color: #00274C;
    color:#FFCB05;
    font-weight: 700;
    font-size: large;
}

#submit{
    margin-top: 15px;
}

.error-main{
    height: 100vh;
}

.error{
    text-align: center;
    margin: auto;
    width: 50%;
    color: #00274C;
    box-shadow: 3px 3px #FFCB05;
}

div.error{
    transform: translate(0%, 5%)
}

.h1-error{
    font-weight: 700;
    font-size: 2.5em;
}

.footer-error{
    position:sticky;
    bottom:0;
}

@media screen and (min-width: 950px){
    .navmenu{
        display: grid;
        flex-direction: row;
    }

    .container{
        grid-template-columns: repeat(12, 1fr);
    }

    section{
        padding: 3%;
        background-color: #e1e1e1;
        border: 0.5px solid #00274C;
    }

    .home-hub{
        grid-column: 1/-1;
    }

    .home-why, .resume-write, .resume-faq{
        grid-column: 1/7;
    }

    .home-start{
        grid-row:2/3;
    }

    .home-start, .resume-src, .resume-check{
        grid-column: 7/span 6;
    }

    .home-connect{
        grid-row:3/4;
    }

    .home-hub, .home-connect, .resume-craft{
        margin: 2.5vw;
    }

    .net-careerfair img, .net-alumni p{
        grid-column: 3/span 2;
    }

    .net-careerfair p, .net-alumni img{
        grid-column: 1/span 3;
    }

    .careersrc-data, .careersrc-lib, .careersrc-healthinfo{
    grid-column: 1/span 7;
    }

    .careersrc-ux, .careersrc-product{
    grid-column: 5/span 8;
    }
}